body{
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

.card{
    margin: auto;
}

.card-body{
    text-align: justify;
    font-family: cursive;
}

#cabecera{
    background: red;
    font-size: 35px;
    color: white;
    text-align: left;
    padding: 1em;
    font-weight: bold;
    box-shadow: 12px 12px 26px -9px rgba(0,0,0,0.43);
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}